body.night .forum-container{
  background: #3b3b3b
}

body.night .discussion-container{
  background: #292929;
}

body.night .discussion-title a,
body.night .discussion-description,
body.night .discussion-reaction,
body.night .name{
  color: #ecf0f1;
}

body.night #create-new-discussion-btn{
  background: #e14594;
}

#create-new-discussion-btn{
  background: #3CACFD;
  font-family: Comfortaa-Bold;
  border-radius: 10px;
  border: 0;
  transition: background .8s;
}

.forum-container{
  background: #ecf0f1;
  min-height: 100vh;
  transition: background .8s;
}

.discussion-container{
  background: white;
  border-radius: 20px;
  position: relative;
  transition: background .8s;
}

.discussion-type{
  position: absolute;
  top: -14px;
  right: 40px;
  height: 30px;
  border-radius: 6px;
  background: #95a5a6;
}

.discussion-type a{
  padding: 0px 15px;
  text-decoration: none;
  color: white;
  font-family: Comfortaa-Regular;
  font-size: 14px;
}

.user-avatar-container{
  width: 100%;
}

.user-avatar-container .avatar{
  position: relative;
}

.user-avatar-container .avatar img{
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.user-avatar-container .avatar .user-level{
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
  font-family: Comfortaa-Bold;
  font-size: 14px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #404040;
  color: white;
  opacity: 0;
  transition: all .4s;
  cursor: pointer;
}

.user-avatar-container .avatar .user-level:hover{
  opacity: 0.8;
}

.user-avatar-container .name{
  position: absolute;
  top: 18px;
  left: 80px;
  font-family: Comfortaa-Bold;
}

.discussion-info-container{
}

.discussion-info-container .discussion-title{
  font-family: Comfortaa-Bold;
  padding-top: 20px;
  word-break: break-word;
}

.discussion-info-container .discussion-title a{
  text-decoration: none;
  color: #121212;
}

.discussion-info-container .discussion-description{
  font-family: Comfortaa-Regular;
}

.discussion-reaction{
  width: 100%;
  font-family: Comfortaa-Regular;
}

.commentor-list img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.commentor-list img:nth-child(1){

}

@media only screen and (max-width: 768px){
  .user-avatar-container{
    height: 50px !important;
    display: block !important;
  }

  .discussion-title,.discussion-description{
    margin-left: 20px;
    margin-right: 20px;
  }

  .discussion-reaction{
    height: 50px !important;
  }

  .user-avatar-container .avatar img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .user-avatar-container .avatar .user-level{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
    width: 40px;
    height: 40px;
  }

  canvas{
    width: 48px;
    height: 48px;
    position: absolute;
    top: 6px;
    left: 6px;
  }
}
